@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "IBM Plex Mono" ;
    background-color: #c8dad3;
}
#result {
    color: red;
  
}